<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCF Valuation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">DCF Valuation Calculator</h1>
        <h2>Company Description</h2>
        <p>{{ company_description }}</p>
        <form method="post" class="mt-4" onsubmit="convertToDecimal(event)">
            <div class="form-group">
                <label for="ticker">Ticker Symbol:</label>
                <input type="text" class="form-control" id="ticker" name="ticker" required>
            </div>
            <div class="form-group">
                <label for="forecast_years">Forecast Years:</label>
                <input type="number" step="1" class="form-control" id="forecast_years" name="forecast_years" value="5" min="1" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </div>
</body>
</html>
